body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgb(53, 53, 53);
}

a, p {
    color: black;
    text-decoration: none;
    font-family: roboto, Arial, Helvetica, sans-serif;
}

.top {
    border: solid red;
    padding: 14px;
    margin-left: 20px auto;
    margin-bottom: 230px ;
    color: white;

}
.gmail {
    text-align: right;
    color: white;
    display: inline;
    margin-left: 10px;
}

.container {
    border: solid blue;
    max-width: 550px;
    margin: auto;
    padding: 10px;

}
.logo {
    border: solid red;
    margin: auto;
    width: 270px;
    padding: 10px;
}
.img-1 {
    width: 270px;
}

.input-class {
    border: solid red ;
    margin: auto;
    padding: 7px;
    width: 450px;
    
}

.input {
    font-size: 15px;
    width: 400px;
    border-radius: 20px;
    padding-right: 10px;
    padding-left: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    outline: none;
    border: solid white;
    border-width: 1.4px;
    background-color: rgb(53, 53, 53);
    transition: background-color 0.065s, c olor 0.125s;
}

.input:hover {
    background-color: white;
}

s