body , p    {
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font-family: 'Roboto', sans-serif;
}

.top-section {
  border: solid rgb(255, 0, 0);  /* border */
  background-color: rgb(3, 71, 68);
  padding-top: 180px;
  padding: 80px;
  margin-bottom: 40px;
}
.info-top {
  border: solid rgb(255, 255, 255); /* border */
  max-width: 280px;
  padding: 10px;
  margin: auto;
}

.top-text {
  border: solid rgb(111, 0, 255); /* border */
  max-width: 280px;
  padding: 4px;
  margin: auto;

}

.img {
  border: solid rgb(8, 240, 28);  /* border */
  margin-bottom: 40px;
  max-width: 300px;
  margin: 0 auto;
}

.img-1 {
  width: 250px;
}

.top-text {
  font-size: 25px;
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  margin-top: 40px;
  padding: 30px;
}

.buttons-top-s {
  border: solid red; /* border */
  max-width: 170px;
  margin: 0 auto;
}

.lcn-top-s {
  margin: 10px;
  font-size: 17px;
  background-color: rgb(3, 71, 68);
  color: white;
  border-style: none;
  border: solid ;
  border-width: 1.1px;
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 18px;
  display: inline;
}
.lcn-top-s:hover {
  background-color: white;
  color: black;
}

.help-top-s {
  margin: 10px;
  font-size: 17px;
  background-color: rgb(3, 71, 68);
  color: white;
  border-style: none;
  border: solid ;
  border-width: 1.1px;
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 18px;  
  display: inline;
}

.help-top-s:hover {
  background-color: white;
  color: black;
}

.container {
  border: solid rgb(0, 0, 255); /* border */
  margin: 10px auto;
  padding: 20px;
  max-width: 800px;
}

.info-projects {
  border: solid rgb(0, 205, 3); /* border */
  padding: 10px;
  margin: 0 auto;
}

.info-box {
  border: solid rgb(174, 174, 174);
  border-radius: 10.3px;
  padding: 30px;
  border-width: 2.5px;
  display: inline-block;
  max-width: 300px;
  margin-left: 20px ;
  margin-top: 10px;
  vertical-align: middle;
  max-height: 90px;
}

.ib-head {
  margin-bottom: 7px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(3, 71, 68);
}

.link-01 {
  border-style: none;
  background-color: white;
  color: rgb(3, 71, 68);
  padding: 4px;
  
}

.link-01:hover {
  background-color: rgba(163, 190, 188, 0.4);
}

.container-section {
  border: solid rgb(173, 173, 173);
  border-width: 2px;
  border-radius: 10px;
  padding: 10px;
}

.text {
  font-size: 30px ;
  margin-left: 10px ;
}

.container-boxes {
  margin-left: 10px;
  border: solid red; /* border */
  display: inline-block;
  padding: 8px;
}

.box {
  padding: 40px;
  display: inline-block;
  border: 1px solid rgb(182, 178, 178);
  border-width: 1.1px;
  border-radius: 4px;
  margin-right: 20px;
  margin-top: 20px;
  height: 210px;
  vertical-align: top;
}

.head {
  margin-bottom: 10px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 20px;
}


.projects, a {
  line-height: 23px;
  color: rgb(3, 71, 68);
  text-decoration: none;
}

.projects:hover {
  text-decoration: underline;
  cursor: pointer;
}

.github {
  margin-top: 50px;
  color: rgb(3, 71, 68);
  font-weight: 700;
  display: inline;

}

.github:hover {
  text-decoration: underline;
  cursor: pointer;
}

.info {
  color: rgb(3, 71, 68);
  font-weight: 700;
  display: inline;
  margin-left: 60px;
}

.footer {
  background-color: rgb(3, 71, 68) ;
  text-align: center;
  color: #aaaaaa;
  padding: 26px;
  margin-top: 40px;
}

strong {
  color: #ffffff;
}
