body { 
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  color: white;
}

p, a {
  font-family: 'roboto', arial;
  color: rgb(189, 189, 189);
  text-decoration: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

.cur:hover {
  cursor: pointer;
}

.special-m1:hover {
  color: var(--tlkk);
}

.fr {
  float: right;
}

.hb- {
  border: solid red;
}

.u {
  text-decoration: underline !important;
}

.vb- {
  border: solid blue;
}

.i {
  display: inline-block !important;
}

.dn {
  display: none !important;
}

.th {
  font-family: tahoma;
}

.tx-ss {
  font-family: 12px;
}

.tx-s {
  font-size: 17px;
}

.cs-b {
  border: solid rgb(141, 140, 140) 1px;
  border-radius: 5px;
}

.cs-b2 {
  border: solid rgb(141, 140, 140) 2px;
  border-radius: 5px;
}

.h-n {
  height: none !important;
}

.fl-c {
  display: flex;
  flex-direction:column !important;
}

.fl-r {
  display: flex;
  flex-direction: row !important;
}

.fl-ai {
  align-items: center !important;
}

.fl-jsp-c {
  justify-content: center !important;
}

.fl-jsp-b {
  justify-content: space-between !important;
}

.link-b {
  font-family: 'roboto', arial;
  color: rgb(189, 189, 189);
  text-decoration: none;
}

.link-b:hover {
  color: var(--tlkk);
}

strong { 
  font-weight: 600;
  color: rgb(10, 94, 90);
  border-radius: 9px;
}

button {
  border: solid;
  border-width: 1.1px;
  color: white;

}

div {
  font-family: roboto;
}

.img-1{
  margin-right: 10px;
  margin-left: 5px;
  width: 80px;
}

.imgmed {
  width: 200px;
  display: inline-block;
}

.pfp {
  width: 20px;
  border-radius: 10px;
}

:root {
  --ug:rgb(40, 40, 46);
  --tlkk: rgb(0, 124, 120);
  --ug2:  #1d1d1d;
  --bkc:  hsl(213, 45%, 8%);
  --idle: rgb(246, 160, 0);  
}
